@use "@assets/styles/abstracts" as *;

.navbar {
  background-color: var(--color-header);
  color: var(--color-text-inverse);
  width: 100%;

  &__inner {
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: $spacing-md 0;
  }

  &__logo-section {
    display: flex;
    align-items: center;

    svg {
      width: 10rem;
      height: 5rem;
    }
  }

  &__right-icons {
    display: flex;
    align-items: center;
  }
}
